/*#imgbg {
  background-image: url(bg1.jpg);
  height: 400px;
  margin-top: 51px;
}

#imgbg h1 {
  color: black;
  background-color: white;
  margin: 100px 500px 100px 15px;
}*/

body {
  background-image: url(bg1.jpg);
  font-family: Helvetica Neue;
}

.jumbotron {
  margin-top: 100px;
  background: rgba(0,0,0,0.6);
}

.jumbotron h1 {
  font-family: Helvetica;
  font-weight: bolder;
  color: white;
}

.jumbotron p {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 20px;
  color: white;
}

.white {
/*  background-color: white;*/
  color: white;
}
